@import "../../styles/variables";

.Text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
  z-index: 100;

  @include breakpoint(md) {
    justify-content: center;

    height: auto;
  }

  &__title {
    text-align: center;
    padding-bottom: 75%;

    @include breakpoint(md) {
      padding-bottom: 0;
      text-align: left;
    }
  }

  &__block {
    background-color: white;
    @include breakpoint(md) {
      background-color: transparent;
    }
  }

  &__paragrapg {
    padding-bottom: 2rem;
  }
}
