@import "../../../styles/variables";

.section {
  position: relative;

  background-color: $LightBlue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 5rem;

  margin-top: 5rem;

  // overflow: hidden;

  @include breakpoint(lg) {
    flex-direction: row;
    max-width: 1440px;
  }

  &__textBlock {
    position: relative;
    @include breakpoint(lg) {
      left: 8%;

      top: 10vw;
    }
    @include breakpoint(xl) {
      max-width: 40%;
      top: 10vw;
    }
  }

  &__circle {
    background: white;
    border-radius: 50%;
    width: 75vw;
    height: 75vw;

    position: absolute;
    z-index: 1;

    top: -15%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(lg) {
      width: 45rem;
      height: 45rem;

      position: absolute;
      top: -35%;
      left: -25%;
      margin: auto;
    }

    @include breakpoint(xl) {
      width: 50rem;
      height: 50rem;
    }

    @include breakpoint(xxl) {
      width: 55rem;
      height: 55rem;
    }
  }

  &__img {
    position: absolute;
    top: 5rem;
    z-index: 2;

    width: 100%;
    max-width: 100%;
    height: auto;

    @include breakpoint(lg) {
      position: relative;
      top: 0;
      right: 0;

      padding-top: 15rem;

      max-width: 50%;
      width: 100%;
      height: auto;
    }
  }
}
